{
  "extends": ["react-app", "plugin:react/recommended"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "error",
    "react/react-in-jsx-scope": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {}
    }
  ]
}
