.subtask {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0 0.5rem;
  height: fit-content;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transition: all .25s ease-in-out;
}

.subtask:hover {
background-color: #f0f0f0;
}

.icon {
  height: 22px;
  cursor: pointer;
}

.task_wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.done {
  text-decoration: line-through;
  color: lightgrey;
}

.checkbox {
  appearance: none;
  cursor: pointer;
  display: grid;
  place-content: center;
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
  transition: all ease 0.2s;
}

.checkbox::before {
  content: '';
  width: 1rem;
  height: 1rem;
  border-radius: 0;
  box-shadow: inset 0 3rem #3fc5c5;
  transform: scale(0);
  transition: inherit;
  transition: all ease 0.2s;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.checkbox:checked {
  animation: checkbox cubic-bezier(0.71, 0.35, 0.65, 1.48) 0.2s;
  border-radius: 50%;
  border-color: transparent;
}

.checkbox:checked::before {
  content: '';
  animation: checkboxBefore cubic-bezier(0.71, 0.35, 0.65, 1.5) 0.25s;
  transform: scale(1);
  border-radius: 50%;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

@keyframes checkbox {
  0% {
    border-radius: 0;
    border-color: black;
    border-width: 1px;
  }
  50% {
    border-radius: 50%;
    border-color: #3fc5c5;
    /* border: 2px; */
  }

  100% {
    border-radius: 50%;
    border-color: #3fc5c5;
    border-style: dotted;
  }
}

@keyframes checkboxBefore {
  0% {
    border-radius: 0;
    transform: scale(0);
  }
  50% {
    border-radius: 0;
    transform: scale(0);
    clip-path: polygon(0% 0%, 0 100%, 100% 100%, 100% 0%, 0% 0%, 0% 0%);
  }
  100% {
    border-radius: 50%;
    transform: scale(1);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
}
