.task_component {
  width: 216px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 3px #00000070;
}

.task_wrapper {
  margin-bottom: 1rem;
  position: relative;
  /* height: fit-content; */
}

.number {
  position: absolute;
  font-size: x-small;
  color: grey;
  top: 2px;
  left: 4px;
}

.title {
  font-weight: bolder;
  overflow: hidden;
  padding: 0 0.5rem;
  text-overflow: ellipsis;
}

.description {
  font-size: smaller;
  padding: 0.5rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0.3rem;
  border: 1px solid lightgrey;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}

.info_row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: small;
  height: 1rem;
}

.icon {
  height: 100%;
}

.delete_task_icon {
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  height: 1.5rem;
  z-index: 200;
  cursor: pointer;
  transition: all 0.1s ease;
}

.delete_task_icon:hover {
  transform: scale(1.1);
}

.priority {
  border-radius: 0.2rem;
  width: fit-content;
  padding: 0 0.5rem;
  margin: auto;
  text-transform: capitalize;
}

.priority_low {
  background-color: lightskyblue;
  color: rgb(62, 95, 116);
}

.priority_normal {
  background-color: lightgreen;
  color: rgb(71, 117, 71);
}

.priority_high {
  background-color: lightcoral;
  color: rgb(128, 73, 73);
}
