.modal_overlay {
  position: fixed;
  display: flex;
  background-color: #000000ba;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: default;
  animation: overlay 0.3s;
}

.modal_content {
  z-index: 2010;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  animation: content 0.3s;
}

@keyframes overlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
